/* DWSI Assignment: Project 3 */
@font-face {
	font-family: "Sourse Sans Pro";
	src: url('../fonts/SourceSansPro-Black.otf');
	
}
/* --- MAIN STYLES --- */
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background:url(../images/dark_fish_skin.png) repeat top left;
}

h1 {
	font-family: "Source Sans Pro", Veranda, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	padding: 60px;
	text-shadow: -1px -1px #000;
	text-align: center;
}

h2 {
	font-family: "Source Sans Pro", Veranda, sans-serif;
	color: #2E4057;
	text-transform: uppercase;
}

p {
	line-height: 1.5em;
}

a:link {
	text-decoration: none;
	color: #433A3F;
}

a:visited {
	color: #9C3B20;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

a:active {
	color: #9C3B20;
}

ol {
    list-style: upper-roman outside none;
}


img {
	border: 1px solid #666;
}
/* -- END MAIN STYLES -- */


/* -- MAIN NAVIGATION -- */
ul#navigation {
	font-weight: bold;
	padding: 15px;
	margin: -20px auto 0px auto;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
	background-color: #72A98F;
}

#navigation li {
	display: inline;
	margin: 0px 25px;
	
}
/* -- END MAIN NAVIGATION -- */


/* -- LAYOUT -- */
#page {
	background-color: rgba(255,255,255,0.5);
	max-width: 960px;
	min-width: 720px;
	height: 100%;
	margin: 10px auto;
	padding: 0px 20px;
	border: 4px double #000;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	
}

#main {
	width: 620px;
	margin: 5px;
	padding: 5px;
	float: left;
}

#gallery {
	width: 298px;
	margin: 10px;
	float: left;
	text-align: center;
	background: rgb(194,214,211); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(194,214,211,1) 0%, rgba(114,169,143,1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  rgba(194,214,211,1) 0%,rgba(114,169,143,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(194,214,211,1) 0%,rgba(114,169,143,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(194,214,211,1) 0%,rgba(114,169,143,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(194,214,211,1) 0%,rgba(114,169,143,1) 100%); /* W3C */
	border: 1px solid #666;
}


.important {
	background: rgba(0, 0, 0, 0.5) url("../images/128_info.png") no-repeat top right;
	border: 1px solid #666;
	font-style: italic;
	color: #fff;
	padding: 5px 10px;
	
}

#footer {
	width: 100%;
	clear: left;
	text-align: right;
}
/* -- END LAYOUT -- */
